*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main img{
   width: 100%;
   height: auto;
   position: relative;
}
.main-head{
    position: absolute;
    top: 200px;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
}
.main-content {
    position: absolute;
    width: 100%;
    top: 0;
    display: flex;
    margin-top: 300px;
    margin-left: 50%;
    transform: translateX(-25%);
}
.item {
    width: 140px;
    height: 140px;
    margin-left: 40px;
    border: 3px solid #fff;
    color: rgb(150, 31, 31);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: 600;
}
.item span{
    font-weight: bold;
    font-size: 24px;
}
.newyear{
    width: 600px;
    height: 300px;
    background-color: rgb(230, 24, 24);
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50%;
}
.newyear p{
    color: rgb(240, 218, 23);
    font-size: 40px;
    font-weight: bold;
    line-height: 300px;
}
.disp{
    display: none;
}